<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ChromeTestSuite">
    <test name="ChromeTests" preserve-order="true">
        <classes>
            <class name="testpages.TestCasesWithStandardUser"/>
            <class name="testpages.TestCasesWithErrorUser"/>
            <class name="testpages.TestCaseWithProblemUser"/>
            <class name="testpages.TestCasesWithPerformanceUser"/>
            <class name="testpages.TestCasesWithVisualUser"/>
            <class name="testpages.LoginTestWithLockedUser"/>
        </classes>
    </test>
</suite>
